/*###################################################################
  ############################## POPUP ##############################
  ###################################################################*/

#popupContainer
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#popup
{
	position: fixed;
	width: 100%;
	top: 150px;	
}

#frame
{	
	background-color: #ddf;	
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 1.25%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

#frameBis
{
	background-color: #ddf;	
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 1.25%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

@media all and (max-width: 768px)
{
	#frame
	{
		max-width: unset;
		font-size: 1.2em;
	}
}

/*###############################################################################################
  ########################################### BUTTONS ###########################################
  ############################################################################################### */

.button
{
	display: inline-block;
	border: none;
	padding: 10px;
	background-color: rgb(225, 91, 20);
	border-radius: 6px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin: 10px 5px;
	text-transform: uppercase;
}

.button:hover
{
	text-decoration: none;
	color: white;
}

.buttons
{
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.deleteArticle
{
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 27px;
	height: 27px;
	line-height: 25px;
	border-radius: 25px;
	padding: -10px 0 -10px 0;
	color: rgb(225, 91, 20);
	font-weight: bold;
	font-size: 2em;
	cursor: pointer;	
}

#backToTop
{	
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: rgb(225, 91, 20);
	text-align: center;
	color: #fff;
	font-size: 1.3em;	
	visibility: hidden;
}

#backToTop:hover
{
	background-color: rgb(255, 225, 20);
	color: #000;
}

.cancelEdit, .validEdit
{
	float: right;
}

.searchButton
{
	width: 15%;
}

.searchButton button
{
	width: 100%;
	margin: 0;
}


/*################################################################################################
  ########################################### ALL SITE ###########################################
  ################################################################################################ */

.content
{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1400px;
}

.row
{
  	margin-right: 0px;
  	margin-left: 0px;
}

.article, .comments, .newsBlock, form
{
	position: relative;
}

.center
{
	margin-right: auto;
	margin-left: auto;
}

.borders
{
	border: 1px black solid;
	border-radius: 6px;
}

.displayFlex
{
	display: flex;
}

.hidden
{
	display: none;
}

.paddingRule
{
	padding: 10px;
}

.sectionTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 30px auto 30px auto;
	padding: 25px 0;
	border: 1px black solid;
	border-radius: 6px;
}

.separator
{
	border-bottom: 2px black solid;
	width: 80%;
	margin: 20px auto 20px auto;
}

.uppercase
{
	text-transform: uppercase;
}

.messages
{
	text-align: center;	
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
	text-transform: uppercase;
	padding: 30px 0;
	margin: 30px auto;
}

.bgRed
{
	background-color: #ff0000;
}

.bgGreen
{
	background-color: #00aa00;
}

.textRed
{
	color: #FF0000;
}

.centerText
{
	text-align: center;
}

.addPadding
{
	padding-bottom: 100px;
}

.shapeForm
{
	border-radius: 6px;
	background-color: #ccc;
}

@media (max-width: 768px)
{
	.content
	{
		max-width: unset;
	}
}

/*################################################################################################
  ############################################ HEADER ############################################
  ################################################################################################ */

header > div
{
	padding: 0 !important;
}

.logo
{
   max-height: 100px;
   max-width: 288px;
   margin-top: 15px;
   margin-bottom: 15px;
}

#mainTitle
{
	text-decoration: none;
	color: #fff
}

/*###############################################################################################
  ############################################# HOME ############################################
  ############################################################################################### */

#lastNews
{
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*###############################################################################################
  ######################################### ARTICLE PAGE ########################################
  ############################################################################################### */

#article img, .article img, .newsBlock img
{
	width: 80%;
	height: 80%;
}

.comments
{
	padding-bottom: 100px;
}

/*################################################################################################
  ######################################### ARTICLES PAGE ########################################
  ################################################################################################ */

#testimonyMenu
{
	padding: 20px;
	border-radius: 6px;
}

/*#################################################################################################
  ######################################### CONTACT PAGE ##########################################
  ################################################################################################# */

.memberBlock
{
	margin: 10px 0;
}

.avatar
{
	width: 50%;
	height: 95%;
	border: 1px black solid;
	border-radius: 6px;
}

.avatar img
{
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

/*################################################################################################
  ########################################## DASHBOARD ###########################################
  ################################################################################################ */

.dashboards
{
	margin: 10px 0;
}

.userName
{
	cursor: pointer;
}

#loginList
{
	position: absolute;
	background-color: #eee;
	display: none;
	width: 98.5%;
}

#loginList ul
{
	list-style: none;
	margin-left: -40px;
}

/*################################################################################################
  ############################################ ASIDE #############################################
  ################################################################################################ */

.newsList
{
	width: 25%;
   	height: 100%;
   	margin-left: 30px;
}

.newsTitle
{
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}

.newsContent > *
{
	width: 90%;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*################################################################################################
  ############################################ FOOTER ############################################
  ################################################################################################ */


footer
{
   margin-top: 30px;
   background-color: #343a40;
   min-height: 100px;
   color: rgba(255,255,255,.5);
}

#copyright
{
	text-align: center;
	border-top: 1px #fff solid;
	padding: 10px;
}


/* ############################################ PAGE ALLNEWSVIEW ########################################### */

#newsPageContent
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.newsBlock
{
	margin: 10px 0;
}

.newsBlock form
{
	margin-bottom: 20px;
	display: flex;
	justify-content: space-around;
}

.notPublished
{
	background-color: rgba(255, 200, 200, 0.5);
}

/* ############################################ PAGE ALLTESTIMONIESVIEW ########################################### */

.testimonyLink
{
	color: #fff;
	cursor: pointer;
}
