/*###################################################################
  ############################## POPUP ##############################
  ###################################################################*/

@keyframes popup
{
	0%{width: 0;}
	100%{width: 100%;}
}


#popupContainer
{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#popup
{
	position: fixed;
	width: 100%;
	top: 150px;	
}

#frame
{	
	background-color: rgb(250, 250, 250);
	border: 2px solid #eee;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 1.25%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	animation-name: popup;
	animation-duration: 0.5s;
	box-sizing: content-box;
	overflow: hidden;
}

#frameBis
{
	background-color: rgb(250, 250, 250);
	border: 2px solid #eee;
	display: flex;
	flex-direction: column;
	border-radius: 6px;
	padding: 1.25%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
	animation-name: popup;
	animation-duration: 0.5s;
	box-sizing: content-box;
	overflow: hidden;
}

#popup h2
{
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 20px;
}

@media all and (max-width: 768px)
{
	#frame
	{
		max-width: unset;
		font-size: 1.2em;
	}
}

/*###############################################################################################
  ########################################### BUTTONS ###########################################
  ############################################################################################### */

.button
{
	display: inline-block;
	border: none;
	padding: 10px;
	background-color: rgb(225, 91, 20);
	border-radius: 6px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin: 5px;
	text-transform: uppercase;
}

.button:hover
{
	text-decoration: none;
	color: white;
}

.buttons
{
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.deleteButton
{
	display: inline-block;
	position: absolute;
	right: 10px;
	width: 27px;
	height: 27px;
	line-height: 27px;
	border-radius: 25px;
	color: rgb(225, 91, 20);
	font-weight: bold;
	font-size: 1.75em;
	cursor: pointer;
}

#backToTop
{	
	display: block;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: rgb(225, 91, 20);
	text-align: center;
	color: #fff;
	font-size: 1.3em;	
	visibility: hidden;
}

#backToTop:hover
{
	background-color: #FF8C00;
	color: #000;
}

.cancelEdit, .validEdit
{
	float: right;
}

.searchButton
{
	width: 15%;
}

.searchButton button
{
	width: 100%;
	margin: 0;
}


/*################################################################################################
  ########################################### ALL SITE ###########################################
  ################################################################################################ */

a
{	
	font-weight: bold;
	color: rgb(225, 91, 20);
}

a:hover
{
	text-decoration: none;
	color: #FF8C00;
}

.row
{
  	margin-right: 0px;
  	margin-left: 0px;
}

form, #clickUpload
{
	position: relative;
}

.center
{
	margin-right: auto !important;
	margin-left: auto !important;
}

.borders
{
	border: 1px black solid;
	border-radius: 6px;
}

.paddingRule
{
	position: relative;
	padding: 20px;
}

.marginRule
{
	margin: 10px 0;
}

.notPublished
{
	background-color: rgba(255, 200, 200, 0.5);
}

.sectionTitle
{
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	margin: 30px auto 30px auto;
	padding: 25px 0;
	border: 1px black solid;
	border-radius: 6px;
}

.separator
{
	border-bottom: 2px black solid;
	width: 85%;
	margin: 20px auto 20px auto;
}

.uppercase
{
	text-transform: uppercase;
}

.messages
{
	text-align: center;	
	color: #fff;
	font-weight: bold;
	border-radius: 6px;
	text-transform: uppercase;
	padding: 30px 0;
	margin: 30px auto;
}

.bgRed
{
	background-color: #ff0000;
}

.bgGreen
{
	background-color: #00aa00;
}

.textRed
{
	color: #FF0000;
}

.addPadding
{
	padding-bottom: 100px;
}

.shapeForm
{
	border-radius: 6px;
	background-color: #ccc;
}

/*################################################################################################
  ############################################ HEADER ############################################
  ################################################################################################ */

header > div
{
	padding: 0 !important;
}

.logo
{
   max-height: 100px;
   max-width: 288px;
   padding: 10px;
   margin: 10px 0;
}

#mainTitle
{
	text-decoration: none;
	color: #fff
}

.marginSign
{
	margin-left: 50px;
}

@media (max-width: 976px)
{
	#navbarSupportedContent > ul
	{
		text-align: right !important;
	}
}

/*###############################################################################################
  ############################################# HOME ############################################
  ############################################################################################### */

#lastNews
{
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*##############################################################################################
  ########################################### ARTICLE ##########################################
  ############################################################################################## */

.article, .articles
{
	background-color: #eee;
	border-radius: 6px;
	margin-top: 30px;	
}

.article img, .articles img
{
	border-radius: 6px;
	margin: 0 10px;
}

.article img
{
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.articles img
{
	height: auto;
	max-width: 50%;
	max-height: 50%;
}

.comments
{
	background-color: rgba(220, 220, 220, 0.5);
	padding: 15px 20px 25px 20px;
	border-radius: 6px;
	margin-bottom: 70px;
}

/*###############################################################################################
  ########################################### ARTICLES ##########################################
  ############################################################################################### */

#testimonyMenu > .navbar
{
	border-radius: 6px;
	padding: 0 !important;
}

.newsTitle
{
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.2em;
}

.testimonyLink
{
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem;
	border-radius: 6px;
	border-top: 2px transparent solid;
	border-bottom: 2px transparent solid;
}

/*################################################################################################
  ########################################### CONTACT ############################################
  ################################################################################################ */

.memberBlock
{
	margin: 10px 0;
}

.dataUser
{
	min-width: 60%;
}

.avatar
{
	width: 100%;
	border-radius: 6px;
	margin-left: 5px;
	margin-top: -10px;
}

.avatar img
{
	max-width: 225px;
	max-height: 300px;
	width: 100%;
	border-radius: 6px;
	border: 1px black solid;
}

/*################################################################################################
  ########################################## DASHBOARD ###########################################
  ################################################################################################ */

.dashboards
{
	margin: 10px 0;
}

.userName
{
	cursor: pointer;
}

#loginList
{
	position: absolute;
	background-color: #eee;
	display: none;
	width: 98.5%;
}

#loginList ul
{
	list-style: none;
	margin-left: -40px;
}

/*################################################################################################
  ########################################### PROFILE ############################################
  ################################################################################################ */

#avatarUpload.active
{
	border-color: red;
	border-style: solid;
	border-radius: 6px;
}

#avatarUpload
{
	border: 0.25rem dashed #a5a5c7;
	border-radius: 6px;
}

input[type="file"]
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

/*###############################################################################################
  ########################################### SIGNUP ############################################
  ############################################################################################### */

.securityLevel
{
	height: 15px;
	background-color: #ddd;
	margin-top: -10px;
	margin-bottom: 20px;
	position: relative;
	border-radius: 6px;
}

.strengh
{
	width: 0;	
	height: 15px;
	position: absolute;
	left: 0;
	border-radius: 6px;
}

.separators
{
	width: 2px;	
	height: 15px;
	background-color: white;
	position: absolute;
}

/*################################################################################################
  ############################################ FOOTER ############################################
  ################################################################################################ */


footer
{
   margin-top: 30px;
   background-color: #343a40;
   min-height: 100px;
   color: rgba(255,255,255,.5);
}

#copyright
{
	text-align: center;
	border-top: 1px #fff solid;
	padding: 10px;
}

#mail
{
	border-left: 1px #fff solid;
	border-right: 1px #fff solid;
}

.excerptBig
{
	position: relative;
	overflow: hidden;
	max-height: 800px;
}

.excerptSmall
{
	position: relative;
	overflow: hidden;
	max-height: 350px;
}

.readMore
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	background: linear-gradient(to bottom, transparent, #eee 55%);
	height: 100px;
	padding-top: 60px;
	margin: 0;
}